.button {
    height: 44px;

    border: 0;
    border-radius: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    color: $accentColor;
    background-color: $primaryBgColor;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $focusBgColor;
    }
}
.button--dark {
    color: $primaryBgColor;
    background-color: $accentColor;
}
.button--centered {
    display: flex;
    align-items: flex-end;
}
.button__icon {
    margin-left: 16px;

    width: 7px;
    height: 10px;
}