@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.76;
  color: #000000;
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}

.button {
  height: 44px;
  border: 0;
  border-radius: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #FFFFFF;
  background-color: #D41443;
  cursor: pointer;
}

.button--light {
  color: #D41443;
  background-color: #FFFFFF;
}
.button--light:hover, .button--light:focus {
  background-color: #ECEBEB;
}

.button--centered {
  display: flex;
  align-items: center;
}

.button__icon {
  margin-left: 16px;
  width: 7px;
  height: 10px;
}

.button__icon--light {
  fill: #FFFFFF;
}

.products__lable {
  color: #FFA5BA;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}
.products__title {
  color: #D41443;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
}
.about {
  padding-top: 60px;
  background-color: #FFF5F6;
}

.about__label {
  margin-bottom: 24px;
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.about__title {
  margin-bottom: 32px;
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.about__img {
  margin-bottom: 40px;
}

.about__content {
  max-width: 220px;
  line-height: 1.62;
}

.about__main-text {
  margin-bottom: 24px;
}

.about__description {
  margin-bottom: 20px;
  color: #907E82;
}

.about__button {
  width: 176px;
}

.advantages-title {
  display: none;
}

.footer {
  margin-top: 0;
  margin-bottom: 3px;
}

.footer-subtitle {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .footer-subtitle {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    font-size: 58px;
  }
}

.list-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 40px;
}

.list-actions__item {
  display: flex;
  align-items: center;
}
.list-actions__item:not(:last-child) {
  margin-right: 28px;
}

.list-actions__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FEA5BB;
}

.list-actions__icon {
  fill: currentColor;
  height: 32px;
  width: 32px;
}

.footer-text {
  font-style: normal;
  font-weight: 700;
  line-height: 1.86;
  text-align: right;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-tel {
  color: #D41443;
  cursor: pointer;
}

.footer-copyright {
  font-weight: 700;
  line-height: 1.52;
  font-size: 14px;
  text-align: center;
  color: #907E82;
  border-top: 1px solid #E1E1E1;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}/*# sourceMappingURL=index.css.map */