// Colors
$primaryWhiteColor: #FFFFFF;
$accentColor: #D41443;
$secondaryAccentColor: #FFA5BA;
$textColor: #000000;
$secondaryTextColor: #907E82;

// bg colors
$bgColor: #FFF5F6;
$heroBgColor: #FFB8CA;
$elementBgColor--first: #F0D1A5;
$elementBgColor--second: #C2E297;

$focusBgColor: #ECEBEB;


// Transitions
$durationTransition: 250ms;
$animationTransition: cubic-bezier(0.4, 0, 0.2, 1);

