<section class="about">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>

        <div class="about__box">
        <picture class="about__img">
            <!-- <source srcset="./images/about/about-cow-1200.png 1x, ./images/about/about-cow-1200.png@2x.jpg 2x" media="(min-width: 1200px)"
                sizes="501px"> -->
            <!-- <source srcset="./images/about/about-cow-768.png 1x, ./images/about/about-cow-768.png@2x.jpg 2x" media="(min-width: 768px)" sizes="336px"> -->
            <source srcset="./images/about/about-cow-320.png 1x, ./images/about/about-cow-320@2x.png 2x" media="(max-width: $mobMaxWidth)" sizes="280px">
            <img src="./images/about/about-cow-320.png" alt="Cow with milk">
        </picture>
            <div class="about__content">
                <p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                
                Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="button button--light about__button">
                    Read more
                    <svg class="button__icon">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>