<section class="section-advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item advantages-list__item--start">
        <span class="advantages-list__text--top">721</span>
        <p class="advantages-list__text--bottom">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--middle">
        <span class="advantages-list__text--top">16kg</span>
        <p class="advantages-list__text--bottom">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--end">
        <span class="advantages-list__text--top">84</span>
        <p class="advantages-list__text--bottom">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
