<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">

      <li class="contacts-card">
        <p class="contacts-title title--orange">Cafe</p>
        <p class="contacts-place">Chicago</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-title title--green">Food Truck</p>
        <p class="contacts-place">Los Angeles</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li class="work-time__item">
        </ul>

        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-title title--orange">Cafe</p>
        <p class="contacts-place">New York</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li class="work-time__item">
        </ul>
        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>
    </ul>

<!-- button list -->

    <ul class="contacts-button list">
      <li class="btn-list btn__item--red">
        <button type="button" class="btn-contacts btn--red" data-locations-open>Our Locations
          <svg class="btn-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <ul class="location-list list" data-locations>
          <li class="location-item">
            <a href="https://www.google.com.ua/maps/place/%D0%A7%D0%B8%D0%BA%D0%B0%D0%B3%D0%BE,+%D0%98%D0%BB%D0%BB%D0%B8%D0%BD%D0%BE%D0%B9%D1%81,+%D0%A1%D0%A8%D0%90/@41.8333925,-88.01215,10z/data=!3m1!4b1!4m5!3m4!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!8m2!3d41.8781136!4d-87.6297982?hl=ru" 
              class="location-link link"
              rel="noopener nofollow">
              Chicago
            </a>
          </li>
          <li class="location-item">
            <a href="https://www.google.com.ua/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6971494,-74.2598677,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728?hl=ru" 
              class="location-link link"
              rel="noopener nofollow">
              New Yourk
            </a>
          </li>
        </ul>
      </li>

      <li class="btn-list btn__item--white">
        <button type="button" class="btn-contacts btn--white" data-franchise-open>Franchise
          <svg class="btn-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <ul class="franchise-list list" data-franchise>
          <li class="location-item">
            <a href="https://www.google.com.ua/maps/place/%D0%9B%D0%BE%D1%81-%D0%90%D0%BD%D0%B4%D0%B6%D0%B5%D0%BB%D0%B5%D1%81,+%D0%9A%D0%B0%D0%BB%D0%B8%D1%84%D0%BE%D1%80%D0%BD%D0%B8%D1%8F,+%D0%A1%D0%A8%D0%90/@34.0191439,-118.9861046,10z/data=!3m1!4b1!4m5!3m4!1s0x80c2c75ddc27da13:0xe22fdf6f254608f4!8m2!3d34.0522342!4d-118.2436849?hl=ru" 
              class="location-link link"
              rel="noopener nofollow">
              Los Angeles
            </a>
          </li>
          <li class="location-item">
            <a href="https://www.google.com.ua/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6971494,-74.2598677,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728?hl=ru" 
              class="location-link link"
              rel="noopener nofollow">
              New Yourk
            </a>
          </li>
        </ul>
      </li>
    </ul>
    
  </div>
</section>
