<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">

      <li class="contacts-card">
        <p class="contacts-title title--orange">Cafe</p>
        <p class="contacts-place">Chicago</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-title title--green">Food Truck</p>
        <p class="contacts-place">Los Angeles</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li class="work-time__item">
        </ul>

        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-title title--orange">Cafe</p>
        <p class="contacts-place">New York</p>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="work-time list">
          <li class="work-time__item">
            <p class="contacts-firstwork">Monday - Friday</p>
            <p class="contacts-firsttime">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-secondwork">Saturday - Sunday</p>
            <p class="contacts-secondtime">08:00 AM - 16:00 PM</p>
          </li class="work-time__item">
        </ul>
        <address class="contacts-adres">
          <ul class="list">
            <li>
              <a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link contacts-link" href="mailto:info@devstudio.com" rel="noopener noreferrer" target="_blank">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>
    </ul>

<!-- button list -->

    <ul class="contacts-button list">
      <li class="btn-list">
        <button type="button" class="btn-contacts btn--red">Our Locations
          <svg class="btn-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
          <div class="contacts-backdrop is-hidden">
            <div class="contacts-modal"></div>
          </div>
        </button>
      </li>

      <li class="btn-list">
        <button type="button" class="btn-contacts btn--white">Franchise
          <svg class="btn-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
          <div class="contacts-backdrop is-hidden">
            <div class="contacts-modal"></div>
          </div>
        </button>
      </li>
    
    </ul>
  </div>
</section>
