<footer class="footer">
    <div class="container main-footer">
        <p class="footer-subtitle">homemade ice cream <br> made</p>

        <h2 class="footer-title">with <br> passion</h2>

        <ul class="list-actions list">
            <li class="list-actions__item">
                <a href="" class="list-actions__link">
                    <svg class="list-actions__icon">
                        <use href="../src/images/sprite.svg#github"></use>
                    </svg></a>
            </li>
            <li class="list-actions__item">
                <a href="" class="list-actions__link">
                    <svg class="list-actions__icon">
                        <use href="../src/images/sprite.svg#telegram"></use>
                    </svg></a>
            </li>
            <li class="list-actions__item">
                <a href="" class="list-actions__link">
                    <svg class="list-actions__icon">
                        <use href="../src/images/sprite.svg#facebook"></use>
                    </svg></a>
            </li>
        </ul>

        <p class="footer-text">Feel free to contact
            <a href="#" class="footer-tel link">+61 (0) 383 766 284</a>
        </p>

        <p class="footer-copyright">&#169; 2022 - IceCream. <br> All Rights Reserved.</p>
    </div>
</footer>