<section class="gallery__section">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery1_1200.png    1x,
              ./images/gallery/gallery1_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery1_768.png    1x,
              ./images/gallery/gallery1_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery1_320.png    1x,
              ./images/gallery/gallery1_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery1_320.png"
            alt="Pistachio ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery2_1200.png    1x,
              ./images/gallery/gallery2_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery2_768.png    1x,
              ./images/gallery/gallery2_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery2_320.png    1x,
              ./images/gallery/gallery2_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery2_320.png"
            alt="Pink ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery3_1200.png    1x,
              ./images/gallery/gallery3_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery3_768.png    1x,
              ./images/gallery/gallery3_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery3_320.png    1x,
              ./images/gallery/gallery3_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery3_320.png"
            alt="Fruit ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery4_1200.png    1x,
              ./images/gallery/gallery4_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery4_768.png    1x,
              ./images/gallery/gallery4_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery4_320.png    1x,
              ./images/gallery/gallery4_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery4_320.png"
            alt="Мarious ice creams"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery5_1200.png    1x,
              ./images/gallery/gallery5_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery5_768.png    1x,
              ./images/gallery/gallery5_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery5_320.png    1x,
              ./images/gallery/gallery5_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery5_320.png"
            alt="Girl with ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery6_1200.png    1x,
              ./images/gallery/gallery6_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery6_768.png    1x,
              ./images/gallery/gallery6_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery6_320.png    1x,
              ./images/gallery/gallery6_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery6_320.png"
            alt="Ice cream with berries in a glass"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery7_1200.png    1x,
              ./images/gallery/gallery7_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery7_768.png    1x,
              ./images/gallery/gallery7_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery7_320.png    1x,
              ./images/gallery/gallery7_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery7_320.png"
            alt="Red ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery8_1200.png    1x,
              ./images/gallery/gallery8_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery8_768.png    1x,
              ./images/gallery/gallery8_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery8_320.png    1x,
              ./images/gallery/gallery8_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery8_320.png"
            alt="Dog with ice cream"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery9_1200.png    1x,
              ./images/gallery/gallery9_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery9_768.png    1x,
              ./images/gallery/gallery9_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery9_320.png    1x,
              ./images/gallery/gallery9_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery9_320.png"
            alt="Icemilk"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery10_1200.png    1x,
              ./images/gallery/gallery10_1200@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery10_768.png    1x,
              ./images/gallery/gallery10_768@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery10_320.png    1x,
              ./images/gallery/gallery10_320@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery10_320.png"
            alt="Milkshake with donut and whipped cream topping with berries"
            class="gallery__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
