<section>
  <div class="container">
    <ul>
      <li class="li">
        <img src="./images/gallery/img_1.jpg" alt="" width="44" height="44" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_2.jpg" alt="" width="44" height="44" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_3.jpg" alt="" width="44" height="45" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_4.jpg" alt="" width="90" height="90" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_5.jpg" alt="" width="44" height="44" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_6.jpg" alt="" width="44" height="45" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_7.jpg" alt="" width="45" height="45" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_8.jpg" alt="" width="44" height="45" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_9.jpg" alt="" width="44" height="45" />
      </li>
      <li class="li">
        <img src="./images/gallery/img_10.jpg" alt="" width="44" height="45" />
      </li>
    </ul>
  </div>
</section>
