<header class="header">
  <h2 hidden>header</h2>
  <div class="container header-container">
    <nav class="menu-log">
      <a href="" class="logo link" lang="en">
        <svg class="menu_logo" width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu menu-items list link">
        <li class="menu__item">
          <a href="" class="menu__link current"> Home </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> About us </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> How it’s made? </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> Our products </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> Contact </a>
        </li>
      </ul>
      <div class="button-menu">
        <button
          class="mobile-menu-bt"
          type="button"
          data-menu-button
          aria-expanded="false"
        >
          <svg class="mobile-menu-icon" width="20" height="12">
            <use class="icon-open" href="./images/sprite.svg#icon-menu"></use>
            
          </svg>
        </button>

        <button class="menu__btn_buy">
          <a href="" class="menu__btn_buy_name link" lang="en"> Buy now </a>
          <svg class="button__icon">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
<!----------------------------------mobile-menu------------------------------------------>
      <div class="mobile-menu" data-menu >
         <button
          class="mobile-menu-bt-close "
          type="button"
          data-menu-button
          aria-expanded="false"
        >
          <svg class="mobile-menu-icon" width="20" height="12">
            <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="mobile-menu_button">
        
        <button class="mobile-menu__btn_buy">
          <a href="" class="mobile-menu__btn_buy_name link" lang="en">
            Buy now
          </a>
          <svg class="button__icon">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>

        <ul class="mobile-menu-nav list link">
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link current"> Home </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> About us </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> How it’s made? </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> Our products </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <script src="./js/mobile-menu.js"></script>
</header>
