<header class="header">
  <div class="container header-container">
    <nav class="menu-log">
      <a href="" class="logo link" lang="en">
        <svg class="menu_logo" width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu menu-items list">
        <li class="menu__item">
          <a href="" class="menu__link current"> Home </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> About us </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> How it’s made? </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> Our products </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link"> Contact </a>
        </li>
      </ul>
      <button class="menu__btn_buy">
        <a href="" class="menu__btn_buy_name link" lang="en"> Buy now </a>
        <svg class="menu__btn_buy__icon" width="5" height="8">
          <!-- <use href="./images/hero-header/icons.svg#icon-arrow"></use> -->
        </svg>
      </button>

      <button
        class="mobile-menu-bt"
        type="button"
        data-menu-button
        aria-expanded="false"
      >
        <svg class="mobile-menu-icon" width="40" height="40">
          <use
            class="icon-open"
            href="./images/sprite.svg#icon-menu"
          ></use>
          <use
            class="icon-close"
            href="./images/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
      <div class="mobile-menu" data-menu>
        <button class="menu__btn_buy">
          <a href="" class="menu__btn_buy_name link" lang="en"> Buy now </a>
          <svg class="menu__btn_buy__icon" width="5" height="8">
            <!-- <use href="./images/hero-header/icons.svg#icon-arrow"></use> -->
          </svg>
        </button>

        <ul class="mobile-menu-nav list">
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link current"> Home </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> About us </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> How it’s made? </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> Our products </a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="" class="mobile-menu-nav__link"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
