<section class="products">
  <div class="container">
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item item-cream">
        <picture>
          <!-- <source
            media="(min-width: 1200px)"
            srcset="./ 1x, ./ 2x"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/img-1tab.jpg 1x, ./images/img-1tab-2x.jpg 2x"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="./ 1x, ./ 2x, ./ 3x"
            type="image/jpeg"
          />
          <img
            src="./images/img-1.jpg"
            alt="Фото Ігорь  Демьяненко"
            width="270"
            height="260"
          /> -->
        </picture>
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button"></button>
      </li>
      <li class="products__item item-coffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button"></button>
      </li>
      <li class="products__item item-milk">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button"></button>
      </li>
    </ul>
  </div>
</section>
