<section class="products" id="products">
  <div class="container">
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="scene products__item item-cream">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products__btn btn-cream" data-modal-open>
          <svg class="products__icon" height="12">
            <use href="./images/prod.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="scene products__item item-coffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          type="button"
          class="products__btn btn-cofee"
          data-modal-coffee-open
        >
          <svg class="products__icon" height="12">
            <use href="./images/prod.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="scene products__item item-milk">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          type="button"
          class="products__btn btn-milk"
          data-modal-milk-open
        >
          <svg class="products__icon" height="12">
            <use href="./images/prod.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="close-btn" data-modal-close>
        <svg class="icon-close">
          <use href="./images/prod.svg#icon-close_40px"></use>
        </svg>
      </button>
      <h2 class="modal__title">ice cream</h2>
      <picture class="products__img">
        <source
          srcset="
            ./images/products/products1-1201.png    1x,
            ./images/products/products1-1200@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products1-768.png    1x,
            ./images/products/products1-768@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products1-320.png    1x,
            ./images/products/products1-320@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src="./images/products/products1-320.png " alt="ice cream" />
      </picture>
      <ul class="list">
        <li>
          <h3 class="modal-link">Price</h3>
          <p class="products__text">8$</p>
        </li>
        <li>
          <h3 class="modal-link">ingredient</h3>
          <p class="products__text">Lorem ipsum dolor sit amet.</p>
        </li>
        <li>
          <h3 class="modal-link">Detailed description</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
            voluptatibus impedit hic numquam omnis maxime aliquam nulla sit
            earum magnam rerum, quaerat praesentium dolore similique ipsum.
            Aliquam aspernatur, nostrum repellat impedit officia quas explicabo
            animi? Architecto nobis perferendis veritatis cumque enim repellat
            iure magni omnis cupiditate quod, ipsam eos quos, deleniti
            asperiores, ullam exercitationem placeat.
          </p>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
      <button type="submit" class="button">Make an order</button>
    </div>
  </div>
  <div class="backdrop backdrop-coffee is-hidden" data-modal-coffee>
    <div class="modal-coffee">
      <button type="button" class="close-btn" data-modal-coffee-close>
        <svg class="icon-close">
          <use href="./images/prod.svg#icon-close_40px"></use>
        </svg>
      </button>
      <h2 class="modal-coffee__title">ice cream</h2>
      <picture class="products__img">
        <source
          srcset="
            ./images/products/products2-1200.png    1x,
            ./images/products/products2-1200@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products2-768.png    1x,
            ./images/products/products2-768@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products2-320.png    1x,
            ./images/products/products2-320@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src="./images/products/products2-320.png " alt="ice coffee" />
      </picture>
      <ul class="list">
        <li>
          <h3 class="modal-coffee__link">Price</h3>
          <p class="products__text">8$</p>
        </li>
        <li>
          <h3 class="modal-coffee__link">ingredient</h3>
          <p class="products__text">Lorem ipsum dolor sit amet.</p>
        </li>
        <li>
          <h3 class="modal-coffee__link">Detailed description</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
            voluptatibus impedit hic numquam omnis maxime aliquam nulla sit
            earum magnam rerum, quaerat praesentium dolore similique ipsum.
            Aliquam aspernatur, nostrum repellat impedit officia quas explicabo
            animi? Architecto nobis perferendis veritatis cumque enim repellat
            iure magni omnis cupiditate quod, ipsam eos quos, deleniti
            asperiores, ullam exercitationem placeat.
          </p>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
      <button type="submit" class="button">Make an order</button>
    </div>
  </div>
  <div class="backdrop backdrop-milk is-hidden" data-modal-milk>
    <div class="modal-milk">
      <button type="button" class="close-btn" data-modal-milk-close>
        <svg class="icon-close">
          <use href="./images/prod.svg#icon-close_40px"></use>
        </svg>
      </button>
      <h2 class="modal-milk__title">ice cream</h2>
      <picture class="products__img">
        <source
          srcset="
            ./images/products/products3-1200.png    1x,
            ./images/products/products3-1200@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products3-768.png    1x,
            ./images/products/products3-768@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products3-320.png    1x,
            ./images/products/products3-320@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src="./images/products/products3-320.png " alt="milkshakes" />
      </picture>
      <ul class="list">
        <li>
          <h3 class="modal-milk__link">Price</h3>
          <p class="products__text">8$</p>
        </li>
        <li>
          <h3 class="modal-milk__link">ingredient</h3>
          <p class="products__text">Lorem ipsum dolor sit amet.</p>
        </li>
        <li>
          <h3 class="modal-milk__link">Detailed description</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
            voluptatibus impedit hic numquam omnis maxime aliquam nulla sit
            earum magnam rerum, quaerat praesentium dolore similique ipsum.
            Aliquam aspernatur, nostrum repellat impedit officia quas explicabo
            animi? Architecto nobis perferendis veritatis cumque enim repellat
            iure magni omnis cupiditate quod, ipsam eos quos, deleniti
            asperiores, ullam exercitationem placeat.
          </p>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
      <button type="submit" class="button">Make an order</button>
    </div>
  </div>
  <script src="./js/products.js"></script>
  <script src="./js/coffee.js"></script>
  <script src="./js/milk.js"></script>
</section>
