<section>
  <div class="container">
    <img
      class="reviews__avatar"
      src="/src/images/review/review_avatar1@1x.jpg"
      alt="customer avatar"
      width="85px"
      height="85px"
    />
    <div class="reviews__card">
      <p class="reviews__comment">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <p class="reviews__nickname">Emily, Los Angeles</p>
  </div>
</section>
