<section>
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div class="container container-reviews">
    <div class="swiper mySwiper">
      <ul class="review__list list swiper-wrapper">
        <li class="reviews__card swiper-slide">
          <img
            class="reviews__avatar"
            srcset="
              /src/images/review/review_avatar1@1x.jpg 1x,
              /src/images/review/review_avatar1@2x.jpg 2x
            "
            src="/src/images/review/review_avatar1@1x.jpg"
            alt="customer avatar"
            width="85px"
            height="85px"
          />
          <div class="reviews__box">
            <p class="reviews__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__user">
            <p class="reviews__nickname">Emily, Los Angeles</p>
          </div>
        </li>

        <li class="reviews__card swiper-slide">
          <img
            class="reviews__avatar"
            srcset="
              /src/images/review/review_avatar2@1x.jpg 1x,
              /src/images/review/review_avatar2@2x.jpg 2x
            "
            src="/src/images/review/review_avatar2@1x.jpg"
            alt="customer avatar"
            width="85px"
            height="85px"
          />
          <div class="reviews__box">
            <p class="reviews__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__user">
            <p class="reviews__nickname">Lisa, New York</p>
          </div>
        </li>

        <li class="reviews__card swiper-slide">
          <img
            class="reviews__avatar"
            srcset="
              /src/images/review/review_avatar3@1x.jpg 1x,
              /src/images/review/review_avatar3@2x.jpg 2x
            "
            src="/src/images/review/review_avatar3@1x.jpg"
            alt="customer avatar"
            width="85px"
            height="85px"
          />
          <div class="reviews__box">
            <p class="reviews__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__user">
            <p class="reviews__nickname">Jennifer, Chicago</p>
          </div>
        </li>
      </ul>
      <!-- Стрілки -->
      <!-- <div class="swiper-button-next"></div> -->
      <!-- <div class="swiper-button-prev"></div> -->

      <!-- Пагінація -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
