.contacts {
  background-image: linear-gradient(#ffffff 21%, $secondaryBgColor 21%);
}

.contacts-card {
  width: 280px;
  height: 412px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding: 40px 32px;
}

.contacts-card:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-card:last-child {
  margin-bottom: 32px;
}

.contacts-title-orange {
  color: $primaryBgColor;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 80px;
  height: 16px;
  background-color: $elementBgColor--first;
  border-radius: 4px;
}

.contacts-title-green {
  color: $primaryBgColor;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 130px;
  height: 16px;
  background-color: $elementBgColor--second;
  border-radius: 4px;
}

.contacts-place {
  color: $textColor;

  padding-top: 20px;
}

.contacts-text {
  color: $secondaryTextColor;

  padding-top: 8px;
  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid #e1e1e1;
}

.contacts-firsttime,
.contacts-secondtime {
  color: $secondaryAccentColor;
}

.contacts-firsttime {
  padding-bottom: 8px;
}

.contacts-secondtime {
  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid #e1e1e1;
}

.contacts-linktell,
.contacts-linkmail {
  color: $secondaryTextColor;
  text-decoration: none;
}

.contacts-linktell:hover {
  color: $accentColor;
}

.contacts-linkmail:hover {
  color: $accentColor;
}

.contacts-btn:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-btn-map {
  width: 162px;
  height: 44px;
  font-weight: 700;
  color: $primaryBgColor;

  background: #d41342;
  border: none;
  border-radius: 22px;
}

.contacts-btn-fran {
  width: 162px;
  height: 44px;
  font-weight: 700;
  color: $accentColor;

  background: $primaryBgColor;
  border: none;
  border-radius: 22px;
}

.contacts-btn-fran:hover {
  background-color: $focusBgColor;
}

.contacts-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 245, 246, 0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.contacts-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 4px;
}
