.footer {
   margin-top: 0;
   margin-bottom: 3px;
}

.footer-subtitle {
   font-family: 'Titan One';
   font-size: 18px;
   line-height: 1.16;
   text-transform: uppercase;

   margin-bottom: 16px;

   color: $secondaryAccentColor;

   @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      }

   @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;   
   }
}

.footer-title {
   font-family: 'Titan One';
   font-weight: 400;
   font-size: 34px;
   line-height: 1.15;
   text-transform: uppercase;

   margin-bottom: 40px;

   color: $accentColor;

   @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.06em;
      }

   @media screen and (min-width: 1200px) {
      font-size: 58px;
   }
}

.list-actions {
   display: flex;
   justify-content: flex-end;

   padding: 0;
   margin-bottom: 40px;
}

.list-actions__item {
   display: flex;
   align-items: center;

   &:not(:last-child) {
   margin-right: 28px;
   }
}

.list-actions__link {
   display: flex;
   align-items: center;
   justify-content: center;

   color: #FEA5BB;
   }

.list-actions__icon{
   fill: currentColor;
   height: 32px;
   width: 32px;
}

.footer-text{
   font-style: normal;
   font-weight: 700;
   line-height: 1.86;
   text-align: right;

   margin-bottom: 40px;

   @media screen and (min-width: 768px) {
      font-size: 14px;
      }

   @media screen and (min-width: 1200px) {
      font-size: 16px;
      letter-spacing: 0.02em;
      }
   }

   .footer-tel{
   color: $accentColor;

   cursor: pointer;
   }

.footer-copyright{
   font-weight: 700;
   line-height: 1.52;
   font-size: 14px;
      
   text-align: center;
   color: #907E82;

   border-top: 1px solid #E1E1E1;
   padding-top: 16px;

   @media screen and (min-width: 768px) {
      line-height: 1.86;
      letter-spacing: 0.02em;
      }
   }

