.contacts {
  background-image: linear-gradient(#ffffff 21%, $secondaryBgColor 21%);
  padding-bottom: 40px;

  @media screen and (min-width: $minDeskWidth) {
    padding-bottom: 120px;
  }

  &__list {
    @media screen and (min-width: $minTabletWidth) {
      display: flex;
      margin: -16px;
  }
}
}

.contacts-card {
  line-height: 1.86;

  background: $primaryBgColor;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding: 40px 32px;


  @media screen and (max-width: $maxMobWidth){
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $minTabletWidth) {
    margin: 16px;
    flex-basis: calc((100% - 32px * 2) / 2);
    font-size: 14px;
  }

  @media screen and (min-width: $minDeskWidth) {
    padding: 40px 40px;
    font-size: 16px;
  }
}

.contacts-title {
  color: $primaryBgColor;
  margin-bottom: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0px 24px;
  display: inline-block;

  text-align: center;

  &.title--orange {
  background-color: $elementBgColor--first;
}

  &.title--green {
  background-color: $elementBgColor--second;
}

@media screen and (min-width: $minTabletWidth) {
  margin-bottom: 32px;
  font-size: 16px;
  padding: 0px 16px;
  border-radius: 6px;
}
}

.contacts-place {
  line-height: 1.86;
  letter-spacing: 0.04em;

  margin-bottom: 8px;
}

.contacts-text {
  color: $secondaryTextColor;
  line-height: 1.5;

  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: $minTabletWidth) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.work-time{
  padding-bottom: 24px;
  margin-bottom: 24px;
  
  border-bottom: 1px solid #e1e1e1;
  
  @media screen and (min-width: $minTabletWidth) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.work-time__item:first-child {
    margin-bottom: 8px;

  @media screen and (min-width: $minTabletWidth) {
    margin-bottom: 12px;
    }
}

.contacts-firsttime,
.contacts-secondtime {
  color: $secondaryAccentColor;
}

.contacts-link {
  line-height: 1.5;
  color: $secondaryTextColor;

  @media screen and (min-width: $minTabletWidth){
      line-height: 1.83;
    }
  
  &:hover,
  &:focus {
  color: $accentColor;
}

transition: color 250ms $animationTransition;
}

// Кнопки

.contacts-button {
  text-align: center;
  margin-top: 32px;

  @media screen and (min-width: $minTabletWidth) {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}

.btn-list{
  &:not(:last-child) {
      @media screen and (max-width: $maxMobWidth) {
        margin-bottom: 10px;
      }
    }
  
    &:not(:last-child) {
      @media screen and (min-width: $minTabletWidth) {
        margin-right: 15px;
      }
    }
}

.btn-contacts {
  width: 162px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  line-height: 1.31;
  font-size: 16px;
  
  border: none;
  cursor: pointer;
}

.btn--red {
  color: $primaryBgColor;
  background-color: $accentColor;

}

.btn--white {
  color: $accentColor;
  background-color: $primaryBgColor;

  &:hover,
  &:focus {
    background-color: $focusBgColor;
  }

  transition: color 250ms $animationTransition,
    background-color 250ms $animationTransition;
}

.btn-icon {
  stroke: currentColor;
  margin-left: 10px;
}

// Модалка
.btn__item--red {
    position: relative;
}
.btn__item--white {
  position: relative;
}
.location-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 162px;
  border-radius: 8px;



  background-color: $secondaryBgColor;

  text-align: center;
  opacity: 0;
  @include transitioned(opacity);
}


.location-item {
  margin-top: 8px;
}

.franchise-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 162px;
  border-radius: 8px;



  background-color: $secondaryBgColor;

  text-align: center;
  opacity: 0;
  @include transitioned(opacity);
}
.is-open {
  opacity: 1;
}